In [6]:
name = "Bagus"
address = "Jl cicantayan"
age = 19
scorePython = 0
ismarried = True

print("Nama:",name)
print("Alamat :", address)
print("Umur :",age)
print("nilai:", scorePython)
print("Nikah:",ismarried)

Nama: Bagus
Alamat : Jl cicantayan
Umur : 19
nilai: 0
Nikah: True

In [8]:
print("tipe data <name>:",type(name))
print("tipe data <address>:",type(address))
print("tipe data <age>:",type (age))
print("tipe data <score>:",type (scorePython))
print("tipe data <ismarried",type (ismarried))

tipe data <name>: <class 'str'>
tipe data <address>: <class 'str'>
tipe data <age>: <class 'int'>
tipe data <score>: <class 'int'>
tipe data <ismarried <class 'bool'>

In [20]:
strToInt = int(scorePython)
strTobool = bool(ismarried)
strToFloat = float(age)
print(strToInt + strTobool,strToFloat, sep="_")

1_19.0

In [24]:
desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal :",desimal)
print("Nilai biner :",biner)
print("Nilai octal :",hexa)

print("Nilai biner dari ",desimal, ":",bin(desimal))
print("Nilai Octal dari",desimal, ":",oct(desimal))
print("Nilai Hexa dari",desimal, ":",hex(desimal))

Nilai desimal : 500
Nilai biner : 10
Nilai octal : 255
Nilai biner dari  500 : 0b111110100
Nilai Octal dari 500 : 0o764
Nilai Hexa dari 500 : 0x1f4

In [26]:
city = "JAKARTA"
length = len(city)
print(city[0])
print(length)
print(city[length-1])

J
7
A

In [27]:
#Tipe data Collection
cities = ["Jakarta","Sukabumi","Bandung","Madura"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] ="Bali"
#cities[5] = "Malang" akan menyebabkan error out of range
print(cities)

['Jakarta', 'Sukabumi', 'Bandung', 'Madura']
Jakarta
Madura
M
a
['Bali', 'Sukabumi', 'Bandung', 'Madura']

In [42]:
names = ("Reja","Jordi","Raihan")
print(names)
print(names[1])
#name[0] = "Raffa" error immutable tuple

studentData = {
   "name" : "Raffa",
    "age" : "19",
    "address" : {
        "street" : "Cicantayan",
        "province" : "Jawa Barat"
        
    },
    "isMarried" : False,
    "hobbies" : ["Football","Nonton film"],
}
print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][1])

('Reja', 'Jordi', 'Raihan')
Jordi
{'name': 'Raffa', 'age': '19', 'address': {'street': 'Cicantayan', 'province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['Football', 'Nonton film']}
19
Jawa Barat
Nonton film

In [43]:
#Konversi dictionary

list_list = (["Name","Andi"],["age",20],["Status",True])
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Tsunade"),("address","Konoha")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["Name","Lion"],["Type","Karnivora"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

keys = ["vehicle","Brand","Iphone"]
values = ["Car","Supra",2500]
car = (dict(zip))

{'Name': 'Andi', 'age': 20, 'Status': True}
{'Name': 'Tsunade', 'address': 'Konoha'}
{'Name': 'Lion', 'Type': 'Karnivora'}

TypeError: 'type' object is not iterable